<!-- <p>accueil-admin works!</p> -->

<div class="dash-content">
    <div class="overview">

        <div class="boxes">
            <div class="box box1">
                <span class="text">Annonces</span>
                <span class="number">20</span>
            </div>
            <div class="box box1">
                <span class="text">Donneurs</span>
                <span class="number">18</span>
            </div>
            <div class="box box2">
                <span class="text">Structure de santé</span>
                <span class="number">05</span>
            </div>
            <div class="box box3">
                <span class="text">Total inscrits</span>
                <span class="number">23</span>
            </div>
        </div>
    </div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Groupe sanguin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of donateurList">
                <td>{{item.index}}</td>
                <td>{{item.name}}</td>
                <td>{{item.prenom}}</td>
                <td>{{item.email}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.groupe_sanguin}}</td>
            </tr>
        </tbody>
    </table>
</div>