
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../../assets/Image/logo-offi.png" alt="">
            </div>

            <span class="logo_name"></span>
        </div>

        <div class="menu-items py-10 mb-10">
            <ul class="nav-links mt-30">
                <li><a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Tableau de bord</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name"routerLink="/detail-profil-user">Profil</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name"routerLink="/annonces">Annonces</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name"routerLink="/inscrits">Inscrits</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-comments"></i>
                        <span class="link-name"routerLink="/donneurs">donneur</span>
                    </a></li>
                <!-- <li><a href="#">
                        <i class="uil uil-share"></i>
                        <span class="link-name">Share</span>
                    </a></li> -->
                </ul>
                
                <ul class="logout-mode">
                    <li><a href="#">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">Deconnexion</span>
                        </a></li>
    
                    <!-- <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a>
    
                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li> -->
                </ul>
            </div>
    </nav>

    <section class="dashboard">
        <div class="top navbar">
            <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
            <div class="">
                <span class="text-dark">Khadija Mbengue</span>
                <img src="https://img.freepik.com/photos-gratuite/incroyable-fille-europeenne-beret-rouge-rire-jeune-femme-francaise-positive-faisant-selfie_197531-11772.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=sph"
                    alt="">
            </div>
        </div>

        <div class="dash-content">
            <div class="overview">
                <!-- <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Tableau de bord</span>
                </div> -->

                <div class="boxes">
                    <div class="box box1"> 
                        <!-- <i class="uil uil-thumbs-up"></i> -->
                        <span class="text">Annonces</span>
                        <span class="number">20</span>
                    </div>
                    <div class="box box1">
                        <!-- <i class="uil uil-thumbs-up"></i> -->
                        <span class="text">Donneurs</span>
                        <span class="number">18</span>
                    </div>
                    <div class="box box2">
                        <!-- <i class="uil uil-comments"></i> -->
                        <span class="text">Structure de santé</span>
                        <span class="number">05</span>
                    </div>
                    <div class="box box3">
                        <!-- <i class="uil uil-share"></i> -->
                        <span class="text">Total inscrits</span>
                        <span class="number">23</span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Groupe sanguin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Oumy</td>
                        <td>Ba</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Souleymane</td>
                        <td>Ngom</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>Baby@gmail.com</td>
                        <td>764354433</td>
                        <td>0+</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>

