<div class="top navbar">
    <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
    <div class="">
        <span class="text-dark">{{name}}</span>
        <img src="https://img.freepik.com/vecteurs-libre/gens-qui-marchent-assis-au-batiment-hopital-exterieur-verre-clinique-ville-illustration-vectorielle-plane-pour-aide-medicale-urgence-architecture-concept-soins-sante_74855-10130.jpg?t=st=1708682075~exp=1708685675~hmac=055f7b42eefe4cd868f7710929e7d189a91f9840de5e26bf7755025f2c09e6ff&w=740"
            alt="">
    </div>
</div>