<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../../../assets/Image/logo-offi.png" alt=""routerLink="/accueil">
        </div>
        <span class="logo_name"></span>
    </div>
    <div class="menu-items py-10 mb-10">
        <ul class="nav-links mt-30">
            <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Tableau de bord</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name"routerLink="/detail-profil-user">Profil</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name" routerLink="/annonces">Annonces</span>
                </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name"routerLink="/auth">Deconnexion</span>
                </a></li>

            <li class="mode">

        </ul>
    </div>
</nav>

<section class="dashboard">
   

    <div class="dash-content">
        <div class="overview">
        </div>

        <div class="test"></div>
       

                        <div class="top navbar">
                            <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
                            <div class="">
                                <span class="text-dark">Khadija Mbengue</span>
                                <img src="https://img.freepik.com/photos-gratuite/incroyable-fille-europeenne-beret-rouge-rire-jeune-femme-francaise-positive-faisant-selfie_197531-11772.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=sph"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 heading-section text-center mt-3 mb-0 ">
                                <h3 class="mb-4">Annonces</h3>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://img.freepik.com/photos-gratuite/coup-moyen-femmes-posant-ensemble_23-2148959235.jpg?size=626&ext=jpg&ga=GA1.1.1260035116.1690285154&semt=ais');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3 "routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://img.freepik.com/photos-gratuite/bouchent-poignee-main-equipe_23-2148905520.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3"routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://img.freepik.com/photos-gratuite/bouchent-poignee-main-equipe_23-2148905515.jpg?size=626&ext=jpg&ga=GA1.1.1260035116.1690285154&semt=ais');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3"routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://img.freepik.com/photos-gratuite/groupe-cinq-etudiants-africains-campus-cour-universite-tenir-vide-blanc-vide-espace-libre-pour-votre-texte-amis-afro-noirs-etudiant_627829-6147.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3"routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://www.shutterstock.com/shutterstock/photos/2230294753/display_1500/stock-photo-portrait-of-a-happy-helpful-black-female-volunteer-young-adult-multiethnic-latina-with-afro-hair-2230294753.jpg');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3"routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4 ">
                                <div class="blog-entry">
                                    <a href="blog-single.html" class="block-20"
                                        style="background-image: url('https://img.freepik.com/photos-premium/homme-passe-gouttes-eau-main-enfant-prend-liquide-paume-ouverte-vraie-beaute-nature-dans-bras-masculin-fort-papa-mer-claire-preserver-eau-pure-sauver-proteger-ensemble-pere-aime-prendre-soin-enfant_643018-1010.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais');">
                                    </a>
                                    <div class="text d-block">
                                        <div class="meta mb-3">
                                            <div><a href="#">June 9, 2019</a></div>
                                            <div><a href="#">Admin</a></div>
                                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                        </div>
                                        <h3 class="heading"><a href="#">Journée de Alertes</a></h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                            there live the blind texts.</p>
                                        <p><a href="blog-single.html" class="btn btn-danger py-2 px-3"routerLink="/detail-annonce">Voir plus</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
