<!-- Modal ajout struture de sante -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter structure de santé
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content modal-xl ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection">
                    <div class="logo ">
                        <img src="../../../assets/Image/logo-offi.png" alt="" routerLink="/accueil">
                    </div>
                    <form class="form_container">
                        <div class="title_container">
                            <h3 class="title">Inscrivez-vous</h3>
                        </div>
                        <div class="input_container">
                            <label class="input_label" for="email_field">Nom:</label>

                            <input placeholder="nom" type="text" name="name" class="form-control" id="nameInput">
                        </div>
                        <div class="input_container">
                            <label class="input_label" for="email_field">Image</label>

                            <input placeholder="image" title="Input title" name="input-name" type="text"
                                class="input_field" id="email_field">
                        </div>
                        <div class="input_container">
                            <label class="input_label" for="email_field">Adresse email</label>
                            <svg fill="none" viewBox="0 0 24 24" height="24" width="24"
                                xmlns="http://www.w3.org/2000/svg" class="icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#141B34"
                                    d="M7 8.5L9.94202 10.2394C11.6572 11.2535 12.3428 11.2535 14.058 10.2394L17 8.5">
                                </path>
                                <path stroke-linejoin="round" stroke-width="1.5" stroke="#141B34"
                                    d="M2.01577 13.4756C2.08114 16.5412 2.11383 18.0739 3.24496 19.2094C4.37608 20.3448 5.95033 20.3843 9.09883 20.4634C11.0393 20.5122 12.9607 20.5122 14.9012 20.4634C18.0497 20.3843 19.6239 20.3448 20.7551 19.2094C21.8862 18.0739 21.9189 16.5412 21.9842 13.4756C22.0053 12.4899 22.0053 11.5101 21.9842 10.5244C21.9189 7.45886 21.8862 5.92609 20.7551 4.79066C19.6239 3.65523 18.0497 3.61568 14.9012 3.53657C12.9607 3.48781 11.0393 3.48781 9.09882 3.53656C5.95033 3.61566 4.37608 3.65521 3.24495 4.79065C2.11382 5.92608 2.08114 7.45885 2.01576 10.5244C1.99474 11.5101 1.99475 12.4899 2.01577 13.4756Z">
                                </path>
                            </svg>
                            <input placeholder="nom@mail.com" title="Inpit title" name="email" type="text"
                                class="input_field" id="email_field">


                        </div>
                        <div class="input_container">
                            <label class="input_label" for="email_field">Adresse:</label>
                            <svg fill="none" viewBox="0 0 24 24" height="24" width="24"
                                xmlns="http://www.w3.org/2000/svg" class="icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#141B34"
                                    d="M7 8.5L9.94202 10.2394C11.6572 11.2535 12.3428 11.2535 14.058 10.2394L17 8.5">
                                </path>
                                <path stroke-linejoin="round" stroke-width="1.5" stroke="#141B34"
                                    d="M2.01577 13.4756C2.08114 16.5412 2.11383 18.0739 3.24496 19.2094C4.37608 20.3448 5.95033 20.3843 9.09883 20.4634C11.0393 20.5122 12.9607 20.5122 14.9012 20.4634C18.0497 20.3843 19.6239 20.3448 20.7551 19.2094C21.8862 18.0739 21.9189 16.5412 21.9842 13.4756C22.0053 12.4899 22.0053 11.5101 21.9842 10.5244C21.9189 7.45886 21.8862 5.92609 20.7551 4.79066C19.6239 3.65523 18.0497 3.61568 14.9012 3.53657C12.9607 3.48781 11.0393 3.48781 9.09882 3.53656C5.95033 3.61566 4.37608 3.65521 3.24495 4.79065C2.11382 5.92608 2.08114 7.45885 2.01576 10.5244C1.99474 11.5101 1.99475 12.4899 2.01577 13.4756Z">
                                </path>
                            </svg>
                            <input placeholder="nom@mail.com" title="Inpit title" name="email" type="text"
                                class="input_field" id="email_field">


                        </div>

                        <div class="input_container">
                            <label class="input_label" for="password_field">Telephone:</label>

                            <input placeholder="Telephone" title="Inpit title" name="Telephone" type="phone"
                                class="input_field" id="Telephone">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="/auth">
                                Ajouter</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card structure de sante -->
<div class="hopital ">

    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgg5lQejXAkVICr7gaF1zivt_7pLHZQ5rhVg&usqp=CAU"
            alt="">
        <div class="card__content">
            <p class="card__title">Hopital Dalal Diam</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgg5lQejXAkVICr7gaF1zivt_7pLHZQ5rhVg&usqp=CAU"
            alt="">
        <div class="card__content">
            <p class="card__title">Hopital Dalal Diam</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgg5lQejXAkVICr7gaF1zivt_7pLHZQ5rhVg&usqp=CAU"
            alt="">
        <div class="card__content">
            <p class="card__title">Hopital Dalal Diam</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgg5lQejXAkVICr7gaF1zivt_7pLHZQ5rhVg&usqp=CAU"
            alt="">
        <div class="card__content">
            <p class="card__title">Hopital Dalal Diam</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgg5lQejXAkVICr7gaF1zivt_7pLHZQ5rhVg&usqp=CAU"
            alt="">
        <div class="card__content">
            <p class="card__title">Hopital Dalal Diam</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>


</div>
