<!-- Card structure de sante -->
<div class="hopital ">

    <div class="card"*ngFor="let item of annonce">
        <img src="https://img.freepik.com/photos-gratuite/homme-confus-tenant-bulle-dialogue-pour-demander-aide-travaillant-ordinateur-portable-pour-affaires-direction-personne-utilisant-banniere-carton-message-texte-appareil-photo-montrant-symbole-communication_482257-40821.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais"
            alt="pb-0">
        <div class="card__content">
            <div class="card shadow-lg row" style="width: 18.5rem;" >
                <div class="annonce">
                    <p class="card-text"> {{item.index}} </p>
                    <p class="card-text"> <strong class="text-danger">JOUR:</strong> {{item.jour}} </p>
                    <p class="card-text"><strong class="text-danger">HEURE:</strong> {{item.heure}} </p>
                    <p class="card-text"> <strong class="text-danger">LIEU:</strong> {{item.lieu}} </p>
                    <p class="card-text"> <strong class="text-danger">STATUT:</strong> {{item.statut}} </p>
                    <button class="btn btn-danger">Participer</button>
                </div>
            </div>
        </div>
    </div>
  
</div>
