<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../../../assets/Image/logo-offi.png" alt="">
        </div>
        <span class="logo_name"></span>
    </div>
    <div class="menu-items py-10 mb-10">
        <ul class="nav-links mt-30">
            <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Tableau de bord</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Profil</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Annonces</span>
                </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Deconnexion</span>
                </a></li>

            <li class="mode">

        </ul>
    </div>
</nav>

<div class="top navbar">
    <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
    <div class="">
        <span class="text-dark">Khadija Mbengue</span>
        <img src="https://img.freepik.com/photos-gratuite/incroyable-fille-europeenne-beret-rouge-rire-jeune-femme-francaise-positive-faisant-selfie_197531-11772.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=sph"
            alt="">
    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2 bg-light"> 
<div class="container">
        
            <div class=" d-flex mt-5">
                <div class="detail-annonce text-center">
                  <h5><span>Journéé de don</span></h5>
                    <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius soluta modi exercitationem reiciendis placeat eos sed
                     sapiente explicabo doloremque, earum unde, sint incidunt quidem. Officia commodi minima aperiam suscipit blanditiis.
                   </p>
                </div>
                <div class="appointment-wrap bg-white p-4 p-md-5 d-flex align-items-center">
                    <form action="#" class="appointment-form ">
                        <h3>Promesse de Rendez-vous</h3>
                            <div class="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prenom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom">
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Selectionner votre groupe</option>
                                                <option value="">A+</option>
                                                <option value="">A-</option>
                                                <option value="">B+</option>
                                                <option value="">B-</option>
                                                <option value="">O+</option>
                                                <option value="">O-</option>
                                                <option value="">AB+</option>
                                                <option value="">AB-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Téléphone:">
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <div class="icon"><span class="ion-md-address"></span></div>
                                        <input type="text" class="form-control appointment_date" placeholder="adresse">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="">
                               
                                <div class="form-group">
                                    <input type="submit" value="Valider" class="btn btn-secondary py-3 px-4">
                                </div>
                            </div>
                        
                    </form>
                </div>
            </div> 
</div>
</section>  


 <nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../../../assets/Image/logo-offi.png" alt=""routerLink="/accueil">
        </div>
        <span class="logo_name"></span>
    </div>
    <div class="menu-items py-10 mb-10">
        <ul class="nav-links mt-30">
            <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Tableau de bord</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name"routerLink="/detail-profil-user">Profil</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name"routerLink="/annonces">Annonces</span>
                </a></li>

        </ul>

        <ul class="logout-mode mb-100">
            <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name"routerLink="/auth">Deconnexion</span>
                </a></li>

            <li class="mode">

        </ul>
    </div>
</nav> 
<section class="dashboard">


    <div class="dash-content"> 
         <div class="overview">
        </div> 

         <div class="test"></div>


        <div class="top navbar">
            <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
            <div class="">
                <span class="text-dark">Khadija Mbengue</span>
                <img src="https://img.freepik.com/photos-gratuite/incroyable-fille-europeenne-beret-rouge-rire-jeune-femme-francaise-positive-faisant-selfie_197531-11772.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=sph"
                    alt=""routerLink="/detail-profil-user">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 heading-section text-center mt-3 mb-0 ">
                <h3 class="mb-4">Detail d'une annonce</h3>
            </div>
        </div>
    <div class="container">
    
        <div class=" d-flex mt-0 height-50 mb-5">
            <div class="detail-annonce text-center w-100">
                <h5><span>Journéé de don</span></h5>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius soluta modi exercitationem reiciendis
                    placeat eos sed
                    sapiente explicabo doloremque, earum unde, sint incidunt quidem. Officia commodi minima aperiam suscipit
                    blanditiis.
                </p>
            </div>
            <div class="appointment-wrap bg-white p-2 p-md-4 d-flex align-items-center">
                <form action="#" class="appointment-form ">
                    <h2 class="text-dark mt-0">Promesse de don</h2>
                    <div class="">
                        <div class="form-group p-2">
                            <input type="text" class="form-control" placeholder="Prenom">
                        </div>
                        <div class="form-group p-2">
                            <input type="text" class="form-control" placeholder="Nom">
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-group p-2">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Selectionner votre groupe</option>
                                        <option value="">A+</option>
                                        <option value="">A-</option>
                                        <option value="">B+</option>
                                        <option value="">B-</option>
                                        <option value="">O+</option>
                                        <option value="">O-</option>
                                        <option value="">AB+</option>
                                        <option value="">AB-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-2">
                            <input type="text" class="form-control" placeholder="Téléphone:">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group p-2">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-md-address"></span></div>
                                <input type="text" class="form-control appointment_date" placeholder="adresse">
                            </div>
                        </div>
    
                    </div>
                    <div class="p-2">
    
                        <div class="form-group">
                            <input type="submit" value="Valider" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
    </div>