
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            
            <img src="https://img.freepik.com/vecteurs-libre/don-sang-humain-fond-blanc_1308-111266.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais" class="d-block w-100" alt="">
            <h1 class="donneur text-danger text-center">DONNEUR</h1>
            <div class="text-center">
                Tu es donneur, tu fais bien de rejoindre notre plateforme, c'est peut être toi le prochain héros"u
            </div>

        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/vecteurs-libre/symbole-don-sang-main-poche-sang_1308-115904.jpg?size=626&ext=jpg&ga=GA1.2.1260035116.1690285154&semt=ais" class="d-block w-100" alt="...">
            <h1 class="donneur text-danger text-center">DEMANDEUR</h1>
            <div class="text-center">
                Tu es à la recherche d'un donneur?<br>Bonne nouvelle, tu es au bon endroit.
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://t4.ftcdn.net/jpg/01/74/94/59/240_F_174945974_bQbBwXL6ki3XReHSoVPFEc8SOc1SMbPn.jpg" class="d-block w-100" alt="">
            <h1 class="donneur text-danger text-center">COMMENCER</h1>
            <div class="text-center">
                Allons sauver des vies
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
 <button class="debut"><a href="#" class="signup">Commencer</a></button>