<div class="top navbar fixed-top">
    <i class="uil uil-bars sidebar-toggle" style="color: black;"></i>
    <div class="">
        <span class="text-dark">Khady MBENGUE</span>
        <img src="https://img.freepik.com/photos-gratuite/tete-belle-femme-musulmane-religieuse-satisfaite-doux-sourire-peau-sombre-saine-porte-foulard-tete-isole-fond-blanc_1157-48178.jpg?t=st=1708682898~exp=1708686498~hmac=4affb84d5a8cb11ae603b865cdff6690aef6842b9b8cad118b200c7c2021c9b9&w=740"
            alt="">
    </div>
</div>