<nav class="sidebare">
    <div class="logo-name">
        <div class="logo-image">
            <img src="../../../assets/Image/logo-offi.png" alt="">
        </div>
    </div>
    <div class="menu-items   ">
        <ul class="nav-links ">
            <li><a>
                    <i class="uil uil-estate"></i>
                    <span class="link-name" routerLink="annonce-donneur">Tableau de bord</span>
                </a></li>
            <li><a>
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name" routerLink="profil-donneur">Profil</span>
                </a></li>
            <li><a>
                    <i class="uil uil-chart"></i>
                    <span class="link-name" routerLink="annonce-donneur">Annonces</span>
                </a></li>
            <li><a>
                    <i class="uil uil-chart"></i>
                    <span class="link-name" routerLink="detail-annonce-donneur">Mes promesses</span>
                </a></li>
        </ul>
        <ul class="logout-mode">
            <li>
                <a href="#">
                    <i class="uil uil-signout"></i>
                    <!-- <span class="link-name" routerLink="/auth">Deconnexion</span> -->
                    <span class="link-name" (click)="logoutAdmin()">Deconnexion</span>
                
                </a>
            </li>
        </ul>
    </div>
</nav>
