<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
        </div>
        <div class="test"></div>
        <div class="row justify-content-center">
            <div class="col-md-10 heading-section text-center mt-3 mb-0 ">
                <h3 class="mb-4">Annonces</h3>
            </div>
        </div>
        <div class="annonces">
            <div class="card shadow-lg row" style="width: 18.5rem;" *ngFor="let item of annonce">
                <div class="annonce">
                    <!-- <p class="card-text"> {{item.index}} </p> -->
                    <p class="card-text"> <strong class="text-danger">JOUR:</strong> {{item.jour}} </p>
                    <p class="card-text"><strong class="text-danger">HEURE:</strong> {{item.heure}} </p>
                    <p class="card-text"> <strong class="text-danger">LIEU:</strong> {{item.lieu}} </p>
                    <p class="card-text"> <strong class="text-danger">STATUT:</strong> {{item.statut}} </p>

                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="d-flex flex-wrap justify-content-center my-5">
        <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
            Précédent
        </button>
        <button class="btn pagiColor  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
            {{ page }}
        </button>
        <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages"
            (click)="pageActuelle = pageActuelle + 1">
            Suivant
        </button>
    </div>
    












































    