
<div class="main">
   <div class="py-1 bg-black top bg-danger">
      <div class="container">
         <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block ">
               <div class="row d-flex">
                  <div class="col-md pr-4 d-flex topper align-items-center">
                     <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                           class="icon-phone2"></span></div>
                     <span class="text">+221 33 900 11 22</span>
                  </div>
                  <div class="col-md pr-4 d-flex topper align-items-center">
                     <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                           class="icon-paper-plane"></span></div>
                     <span class="text">dondesang@gmail.com</span>
                  </div>
                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
                     <p class="mb-0 register-link"><a href="#" class="mr-3">Se connecter</a><a href="#">S'inscrire</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
      id="ftco-navbar">
      <div class="container">
         <a class="navbar-brand" href="index.html">LOGO</a>
         <!-- <div class="">
                <img src="../../../assets/Image/logo-offi.png" alt="">
            </div> -->
         <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
            data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
         </button>

         <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
               <li class="nav-item"><a href="#home-section" class="nav-link"><span>Accueil</span></a></li>
               <li class="nav-item"><a href="#about-section" class="nav-link"><span>A propos</span></a></li>
               <li class="nav-item"><a href="#department-section" class="nav-link"><span>Alertes</span></a></li>
               <li class="nav-item"><a href="#doctor-section" class="nav-link"><span>Doctors</span></a></li>
               <li class="nav-item"><a href="#blog-section" class="nav-link"><span>Annonces</span></a></li>
               <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
               <!-- <li class="nav-item cta mr-md-2"><a href="appointment.html" class="nav-link">Rendez-vous</a></li> -->
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class="condition">
   <h1 class="text-danger text-center">Conditions Générales d'Utilisation</h1>
 <span>
    Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au
    Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après
    ensemble les « Services »).
    Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou
    à venir. <br>
    Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou
    professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité
    de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
    <br> <h3>ARTICLE 1. ACCEPTATION DES CONDITIONS GÉNÉRALES D'UTILISATION</h3>
    L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site
    et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
    Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses
    conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la
    Charte Données Personnelles et Cookies accessible ici. <br>
   <h3>ARTICLE 2. INSCRIPTION AUX SERVICES ET GESTION DES IDENTIFIANTS</h3>
    L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site
    et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
    Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses
    conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la
    Charte Données Personnelles et Cookies accessible ici. <br>
    <h3>ARTICLE 3. ACCÈS AUX SERVICES ET SUSPENSION DES SERVICES</h3>
    Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au
    Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après
    ensemble les « Services »). <br>
    Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou
    à venir. <br>
    Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou
    professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité
    de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
   <h3>ARTICLE 4. ENGAGEMENT DES UTILISATEURS</h3>
    Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au
    Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après
    ensemble les « Services »). <br>
    Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou
    à venir. <br>
    Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou
    professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité
    de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
    L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site
    et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
    Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses
    conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la
    Charte Données Personnelles et Cookies accessible ici.
 </span>
</div>

<footer class="ftco-footer ftco-section img" style="background-image: url(images/footer-bg.jpg);">
   <div class="overlay "></div>
   <div class="container-fluid px-md-5">
      <div class="row mb-5">
         <div class="col-md">
            <div class="ftco-footer-widget mb-4">
               <h2 class="ftco-heading-2">LOGO</h2>
               <!-- <img src="" alt=""> -->
               <p>Fann, Avenue Cheikh Anta Diop,Dakar</p>
               <ul class="ftco-footer-social list-unstyled mt-5">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
               </ul>
            </div>
         </div>
        
         <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
               <h2 class="ftco-heading-2">Links</h2>
               <ul class="list-unstyled">
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Accueil</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>A propos</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Alertes</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Docteurs</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Annonces</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Top donneurs</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md">
            <div class="ftco-footer-widget mb-4">
               <h2 class="ftco-heading-2">Services</h2>
               <ul class="list-unstyled">
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Services d'urgences</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Docteurs qualifiés</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Bilan</a></li>
                  <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>24H Services</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md">
            <div class="ftco-footer-widget mb-4">
               <h2 class="ftco-heading-2">Questions?</h2>
               <div class="block-23 mb-3">
                  <ul>
                     <li><span class="icon icon-map-marker"></span><span class="text">Fann, Avenue Cheikh Anta
                           Diop,Dakar</span></li>
                     <li><a href="#"><span class="icon icon-phone"></span><span class="text">+221 33 900 11
                              22</span></a></li>
                     <li><a href="#"><span class="icon icon-envelope pr-4"></span><span
                              class="text">dondesang@gmail.com</span></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
      </div>
      <div class="col-md-12 text-center">

         <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Tous doit réservés | Don de sang <i
               class="icon-heart color-danger" aria-hidden="true"></i> par <a href="https://colorlib.com"
               target="_blank">Thédy</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
         </p>
      </div>
   </div>
</footer>