<nav class="sidebare">
    <div class="logo-name">
        <div class="logo-image">
            <img src="../../../assets/Image/logo-offi.png" alt="">
        </div>

        <!-- <span class="logo_name"></span> -->
    </div>
        <!-- py-10 -->
    <div class="menu-items   ">
        <ul class="nav-links ">
            <li><a>
                    <i class="uil uil-estate"></i>
                    <span class="link-name" routerLink="accueil-admin">Tableau de bord</span>
                </a></li>
            <li><a>
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name" routerLink="profil-admin">Profil</span>
                </a></li>
            <li><a>
                    <i class="uil uil-chart"></i>
                    <span class="link-name" routerLink="annonce-admin">Annonces</span>
                </a></li>
            <!-- <li><a>
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name" routerLink="accueil-admin">Inscrits</span>
                </a></li> -->
            <li><a>
                    <i class="uil uil-comments"></i>
                    <span class="link-name" routerLink="donneurs-admin">donneur</span>
                </a></li>
                <li><a >
                    <i class="uil uil-comments"></i>
                    <span class="link-name" routerLink="structure-de-sante-admin">Structure de santé</span>
                </a>
            </li>
        </ul>
            
            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Deconnexion</span>
                    </a>
                </li>
            </ul>
    </div>
</nav>